@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
#root {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}

/* FORM START */
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (4rem + 60px));
  justify-content: space-around;
  padding: 2rem;
  width: 80vw;
}
/* RESPONSIVE */
@media (max-height: 740px) and (orientation: portrait) {
  .wrapper {
    justify-content: space-around;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .wrapper {
    height: 150vh;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .wrapper {
    height: calc(100vh - (3rem));
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}
.form {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: clamp(300px, 600px, 40%);
  z-index: 3;
}
.alert {
  color: #ea5353;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.error {
  font-size: 1.5rem;
}
.error p:first-child {
  color: #ea5353;
  font-weight: 900;
}
label {
  display: none;
}
input,
select,
option {
  border-radius: 6px;
  font-size: 1rem;
  height: 32px;
}
input::placeholder,
select::placeholder,
option::placeholder {
  font-family: "Poppins", sans-serif;
}
input,
select {
  margin-top: 0.5rem;
}
.spiciness-contanier p {
  margin: 0.5rem 0 0 1rem;
}
.radio-element {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.radio-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.radio-container label {
  display: flex;
  font-size: 0.8rem;
}
input[type="radio"] {
  margin: 0px;
  width: 1.5rem;
}
input[type="radio"]#piciness_scale-1 {
  accent-color: rgb(0, 255, 0);
}
input[type="radio"]#piciness_scale-2 {
  accent-color: rgb(75, 255, 0);
}
input[type="radio"]#piciness_scale-3 {
  accent-color: rgb(150, 255, 0);
}
input[type="radio"]#piciness_scale-4 {
  accent-color: rgb(225, 255, 0);
}
input[type="radio"]#piciness_scale-5 {
  accent-color: rgb(255, 255, 0);
}
input[type="radio"]#piciness_scale-6 {
  accent-color: rgb(255, 225, 0);
}
input[type="radio"]#piciness_scale-7 {
  accent-color: rgb(255, 150, 0);
}
input[type="radio"]#piciness_scale-8 {
  accent-color: rgb(255, 75, 0);
}
input[type="radio"]#piciness_scale-9 {
  accent-color: rgb(255, 40, 0);
}
input[type="radio"]#piciness_scale-10 {
  accent-color: rgb(255, 0, 0);
}
input[type="submit"] {
  background: linear-gradient(145deg, #454545, #525252);
  border-radius: 6px;
  box-shadow: 20px 20px 60px #414141, -20px -20px 60px #595959;
  height: 36px;
  margin-top: 1rem;
}
input[type="submit"]:hover {
  cursor: pointer;
}
/* FORM END */
/* PIZZA START */
.pizza-container {
  height: 100px;
  width: 100px;
}
/* RESPONSIVE */
@media (max-width: 1023px) and (orientation: landscape) {
  .pizza-container {
    margin-bottom: 100px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .pizza-container {
    padding-top: 0.5rem;
  }
}
.pizza-dough {
  align-items: center;

  background-color: #ff0000;
  border: 0.3rem solid #ffa500;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 10px #ff0000;
  box-shadow: 0px 0px 0px 0.4rem #dd8110;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.pizza-slice {
  background-color: #000;
  height: 1px;
  position: absolute;
  width: 123%;
  z-index: 1;
}
.pizza-cheese {
  align-items: center;

  background-color: #ffeb3b;
  border-radius: 50%;
  display: flex;
  height: 95%;
  justify-content: center;
  width: 95%;
}
.pepperoni-container {
  height: 96%;

  position: relative;
  width: 96%;
}
.pepperoni {
  background-image: radial-gradient(
    circle at 1rem 1rem,
    #ea5353 7px,
    #b23b3b 8px,
    transparent 9px
  );
  background-size: 30% 30%;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  transform: rotate(15deg);
  width: 100%;
}
.measure {
  border-bottom: 2px solid white;
  font-size: 1rem;
  height: 2rem;
  width: 100%;
}
.measure-segment {
  border-left: 2px solid white;
  border-right: 2px solid white;
  height: 10px;
  transform: translate(-2px, -12px);
  width: 100%;
}
/* PIZZA END */
/* SOUP START */
.soup-container {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 120px;
}
.soup-bowl {
  position: absolute;
  top: 25%;
}
.soup-chilli {
  position: relative;
}
.soup-leaf {
  position: relative;
}
/* RESPONSIVE */
@media (max-width: 1023px) and (orientation: landscape) {
  .soup-container {
    margin-bottom: 120px;
  }
  .soup-bowl {
    top: 35%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .soup-container {
    padding-top: 0.5rem;
  }
}
/* SOUP END */
/* SANDWICH START */
.sandwich-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  width: clamp(300px, 600px, 40%);
}
.bread {
  height: 80px;
  position: relative;
  width: 50px;
}
.bread-base {
  background-color: #ffda96;
  border: 2.4px solid black;
  border-radius: 2.4rem 2.4rem 0.8rem 0.8rem;
  height: 5.4rem;
  position: absolute;
  top: 0.48rem;
  width: 4.96rem;
  z-index: 2;
}
.bread-shadow {
  background-color: #d3885c;
  border: 2px solid black;
  border-radius: 2.8rem 3.6rem 1.6rem 4rem;
  height: 5.84rem;
  left: 0.12rem;
  position: absolute;
  top: 0.12rem;
  width: 5.48rem;
  z-index: 1;
}
/* SANDWICH END */
