.responseComp-wrapper {
  align-items: center;
  background-color: #242424f3;
  display: flex;
  flex-direction: column;
  height: 120%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 4;
}
.responseParagraphContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
}
.responseParagraph {
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0.5rem;
}

.response-btn {
  background: linear-gradient(145deg, #454545, #525252);
  border-radius: 6px;
  box-shadow: 20px 20px 60px #414141, -20px -20px 60px #595959;
  height: 36px;
  margin-top: 3rem;
  width: 100px;
}
.response-btn:hover {
  cursor: pointer;
}
